In [4]:
import pandas as pd  # library to handle tables

# Load CSV file
data = pd.read_csv("spam.csv", encoding='latin-1')

# Keep only the important columns
data = data[['v1', 'v2']]
data.columns = ['label', 'message']

# Show first 5 emails
data.head()

  label                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [5]:
data['label_num'] = data['label'].map({'ham': 0, 'spam': 1})
data.head()

  label                                            message  label_num
0   ham  Go until jurong point, crazy.. Available only ...          0
1   ham                      Ok lar... Joking wif u oni...          0
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...          1
3   ham  U dun say so early hor... U c already then say...          0
4   ham  Nah I don't think he goes to usf, he lives aro...          0

In [6]:
from sklearn.model_selection import train_test_split

X = data['message']      # email text
y = data['label_num']    # labels (0 or 1)

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

print("X_train exists:", X_train.shape)
print("X_test exists:", X_test.shape)

X_train exists: (4457,)
X_test exists: (1115,)

In [7]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer()

X_train_vec = vectorizer.fit_transform(X_train)
X_test_vec = vectorizer.transform(X_test)

In [8]:
print(X_train_vec.shape)

(4457, 7735)